@model Demo1.ViewModel.RegisterUserViewModel

@{
    ViewData["Title"] = "AddAdmin";
}

<h1>AddAdmin</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm" style="background-color :lightgray">
            <div class="card-body">
                <form asp-action="AddAdmin">
                    <div asp-validation-summary="All" class="alert alert-danger"></div>

                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Enter your username" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Enter your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PasswordConfirmed" class="form-label"></label>
                        <input asp-for="PasswordConfirmed" class="form-control" type="password" placeholder="Confirm your password" />
                        <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address" class="form-label"></label>
                        <input asp-for="Address" class="form-control" placeholder="Enter your address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <input type="submit" value="Create Accuont" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="INDEXAJAX" asp-controller="Employee" class="btn btn-secondary">Back to List</a>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    body {
        background-image: url('/assets/img/bg-signup.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

