
@{
    ViewData["Title"] = "New";
    Layout = "_AdvancedLayout1";
}

<h1>New</h1>
@model Department

<form method="post" action="/Department/savenew">
    <div asp-validation-summary="All"></div>
    <div>
         <label>Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.Name">
         <span asp-validation-for="Name" class ="text-danger"></span>
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="Description" class= "form-control" value="@Model.Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>    
    <input type="submit" value="add" class="btn btn-success">
</form>

@* @section RenderHeader {
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7PTEuJwH-vk" frameborder="0" allowfullscreen></iframe>
}
@section RenderFooter {
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7PTEuJwH-vk" frameborder="0" allowfullscreen></iframe>
}
 *@


<partial name="_ScriptPartial" />